<!DOCTYPE html>
<html lang="en">
<head>
    <!-- 此处的 . 就是传入引用的子模板的变量 -->
    {{template "header" .}}
</head>
<body>
{{template "nav" .}}
<main>
    {{template "flash" .}}
    {{template "add"}}
    <form action="/operation/operate" method="post">
        <div class="container">
            <div class="row mt-3">
                <div class="col-md-10">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link text-secondary active" id="todo-tab" data-toggle="tab" href="#todo" role="tab" aria-controls="todo" aria-selected="true">待做清单</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-secondary" id="finished-tab" data-toggle="tab" href="#finished" role="tab" aria-controls="finished" aria-selected="false">已完成</a>
                        </li>
                    </ul>
                </div>
                {{if .canNotify}}
                <div class="col-sm-1">
                    <input type="button" class="btn btn-secondary" data-toggle="modal" data-target="#settingNotify" value="通知">

                    <!-- Modal -->
                    <div class="modal fade" id="settingNotify" tabindex="-1" role="dialog" aria-labelledby="settingNotifyTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="settingNotifyTitle">提醒时间选择</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    请确认已经勾选需要设置通知的消息
                                    <ul>
                                        <li>没有设定日期</li>
                                        <li>设定的日期时间早于当前时间</li>
                                        <hr>
                                        以上两种情况会立刻进行通知
                                    </ul>

                                    <div class="input-group my-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">日期</div>
                                        </div>
                                        <input type="text" name="notifyDate" class="form-control" placeholder="请选择日期" id="laydate-choose-date">
                                    </div>
                                    <div class="input-group my-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">时间</div>
                                        </div>
                                        <input type="text" name="notifyTime" class="form-control" placeholder="请选择时间" id="laydate-choose-time">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                    <input class="float-right btn btn-primary" name="notify" type="submit" value="提交">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{else}}
                    <div class="col-md-1"></div>
                {{end}}
                <div class="col-md-1">
                    <input class="float-right btn btn-secondary" name="submit" type="submit" value="完成">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <div class="tab-content mt-4"  id="myTabContent">
                        <div class="tab-pane fade show active" id="todo" role="tabpanel" aria-labelledby="todo-tab">
                            {{range .messageList}}
                                <label class="card-body shadow container-fluid my-2">
                                    <a class="card-text">
                                        <input type="checkbox" autocomplete="off" aria-label="checkbox" value={{.Id}} name="todo"><strong>  {{.Message}}</strong>
                                        {{if .NotifyTime}}
                                            {{if .HasNotified}}
                                                <span class="badge badge-light float-right">已通知</span>
                                            {{else}}
                                            <input type="button" class="btn-sm btn-secondary float-right" data-toggle="modal" data-target="#collapse{{.Id}}" value="详情">

                                            <!-- Modal -->
                                            <div class="modal fade" id="collapse{{.Id}}" tabindex="-1" role="dialog" aria-labelledby="notifyDetail" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="notifyDetail">通知详情</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            此消息已设定于{{.NotifyTime}}进行推送通知
                                                        </div>
                                                        <div class="modal-footer justify-content-between">
                                                            <button type="submit" class="btn btn-danger" name="delNotify" value={{.Id}}>取消通知</button>
                                                            <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {{end}}
                                        {{end}}
                                    </a>
                                </label>
                            {{else}}
                                <h4>没有待办事情噢</h4>
                            {{end}}
                        </div>
                        <div class="tab-pane fade" id="finished" role="tabpanel" aria-labelledby="finished-tab">
                            {{if .partFinishedInfo}}
                            <table class="table table-borderless">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">事项</th>
                                    <th scope="col">创建时间</th>
                                    <th scope="col">完成时间</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{range .partFinishedInfo}}
                                <tr>
                                    <th scope="row"><span class="badge badge-success">&radic;</span></th>
                                    <td>{{.Message}}</td>
                                    <td>{{.CreateTime}}</td>
                                    <td>{{.FinishedTime}}</td>
                                </tr>
                                {{end}}
                                </tbody>
                            </table>
                            {{else}}
                                <h4>没有完成的事情噢</h4>
                            {{end}}
                            {{if .partFinishedInfo}}
                                <button type="button" class="float-left btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#exampleModal">
                                    清空完成数据
                                </button>
                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h6 class="modal-title" id="exampleModalLabel">清空完成数据</h6>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <strong>清空数据后不可恢复</strong>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                                <a href="/operation/clear" class="btn btn-danger">确定</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a href="/finished" class="float-right btn btn-secondary">查看全部数据</a>
                            {{end}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="container mt-5">
        <hr>
        {{template "footer"}}
    </div>

</main>
</body>
</html>