<!DOCTYPE html>
<html lang="en">
<head>
    <!-- 此处的 . 就是传入引用的子模板的变量 -->
    {{template "header" .}}
</head>
<body>
{{template "nav" .}}
<main>
    {{template "add"}}
    {{$lastId := -1}}
    <div class="container">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">事项</th>
                <th scope="col">创建时间</th>
                <th scope="col">完成时间</th>
            </tr>
            </thead>
            <tbody>
            {{range $key,$value :=.totalFinishedInfo}}
                {{$lastId = $key}}
            <tr>
                <th scope="row"><span class="badge badge-success">&radic;</span></th>
                <td>{{$value.Message}}</td>
                <td>{{$value.CreateTime}}</td>
                <td>{{$value.FinishedTime}}</td>
            </tr>
            {{else}}
                <td colspan="4">还没有任何完成的事项</td>
            {{end}}
            </tbody>
        </table>
        <div class="form-inline float-right">
            <form method="post" action="/finished">
                <input type="hidden" name="start" value={{.start}}>
                <input type="hidden" name="lastId" value={{$lastId}}>
                {{if .hasPre}}
                    <input class="mr-auto btn btn-secondary" name="submit" type="submit" value="上一页">
                {{else}}
                    <input class="mr-auto btn btn-secondary" name="submit" type="submit" value="上一页" disabled>
                {{end}}
            </form>
            <form method="post" action="/finished">
                <input type="hidden" name="start" value={{.start}}>
                <input type="hidden" name="lastId" value={{$lastId}}>
                {{if .hasNext}}
                    <input class="mr-auto btn btn-secondary" name="submit" type="submit" value="下一页">
                {{else}}
                    <input class="mr-auto btn btn-secondary" name="submit" type="submit" value="下一页" disabled>
                {{end}}
            </form>
        </div>
    </div>
</main>
</body>
</html>