{{define "footer"}}
<footer>
            <div class="d-flex justify-content-between">
                <small>
                    &copy;2020 YesOhh -
                    <a href="https://github.com/YesOhh" title="Fork me on GitHub">GitHub</a>
                </small>
{{/*                <small>*/}}
{{/*                    <span class="oi oi-magnifying-glass"></span> 微信公众号：逐山海*/}}
{{/*                </small>*/}}
            </div>
        </footer>
{{end}}