{{define "nav"}}
<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <div class="container">
        <a class="navbar-brand ml-2 mb-0 h4" href="/">
            <img src="https://img.icons8.com/wired/30/000000/edit-row.png"/>
            <span>Lists Pad</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <div class="navbar-nav mb-0 h5">
                <a class="nav-link ml-2" href="/">主页</a>
            </div>
            <div class="navbar-nav ml-auto">
                {{if .username}}
                    <div class="dropdown nav-item">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <span>{{.username}}</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" role="menu">
                            <h6 class="dropdown-header">Hello<strong> {{.username}}</strong></h6>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/logout">登出</a>
                        </div>
                    </div>
                {{end}}
            </div>
        </div>
    </div>
</nav>
{{end}}