<!DOCTYPE html>
<html lang="en">
<head>
    {{template "header" .}}
</head>
<body>
{{template "nav"}}
<main>
    <div class="container">
        <header>
            <h1 class="text-center text-secondary mt-3">注册</h1>
        </header>
        {{template "flash" .}}
        <div class="row justify-content-md-center">
            <div class="col-md-6 mt-2">
                <form action="/register" method="post" class="form" role="form">
                    <div class="form-group required">
                        <label class="form-control-label" for="username">用户名</label>
                        <input class="form-control" name="username" required type="text" placeholder="仅支持字母、数字和下划线">
                    </div>
                    <div class="form-group required">
                        <label class="form-control-label" for="password">密码</label>
                        <input class="form-control" name="password" required type="password" placeholder="密码长度不少于6位">
                    </div>
                    <div class="form-group required">
                        <label class="form-control-label" for="passwordAgain">确认密码</label>
                        <input class="form-control" name="passwordAgain" required type="password">
                    </div>
                    <input class="btn btn-secondary" name="submit" type="submit" value="注册">
                </form>
            </div>
        </div>
        <hr class="mt-5">
        <div class="row justify-content-md-center">
            <div class="col-md-6">
                <div class="d-flex justify-content-end">
                    <a class="btn btn-success" href="/login">登录</a>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>